<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--
    <add name="FASEntities" connectionString="metadata=res://*/FAS_DB.csdl|res://*/FAS_DB.ssdl|res://*/FAS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WSG150170\SQLEXPRESS;initial catalog=FAS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SMDCOMPONETSEntities" connectionString="metadata=res://*/SMDComponents.csdl|res://*/SMDComponents.ssdl|res://*/SMDComponents.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=traceability\flat;initial catalog=SMDCOMPONETS;user id=CTS_SOFT; Password = volodin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FASEntities" connectionString="metadata=res://*/BaseReal.csdl|res://*/BaseReal.ssdl|res://*/BaseReal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=traceability\flat;initial catalog=FAS;user id=CTS_SOFT;password=wnc_ghju;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FASEntities" connectionString="metadata=res://*/RealBase.csdl|res://*/RealBase.ssdl|res://*/RealBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=traceability\flat;initial catalog=FAS;persist security info=True;user id=CTS_SOFT;password=wnc_ghju;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
    <add name="SMDCOMPONETSEntities" connectionString="metadata=res://*/SMDComponents.csdl|res://*/SMDComponents.ssdl|res://*/SMDComponents.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=traceability\flat;initial catalog=SMDCOMPONETS;user id=CTS_SOFT; Password = wnc_ghju;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FASEntities" connectionString="metadata=res://*/BaseReal.csdl|res://*/BaseReal.ssdl|res://*/BaseReal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=traceability\flat;initial catalog=FAS;user id=CTS_SOFT;password=wnc_ghju;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <!--<add name="FASEntities" connectionString="metadata=res://*/BaseReal.csdl|res://*/BaseReal.ssdl|res://*/BaseReal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB ;initial catalog=FAS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>